name: CI

# Defino cu谩ndo se ejecuta este workflow:
on:
  push:
    branches: ["main"] # Aqu铆 indico que el workflow se ejecuta cuando hago push a la rama main
  pull_request:
    types: [opened, synchronize, reopened] # Tambi茅n se ejecuta en estos eventos de PR
    branches: ["main"]
  workflow_dispatch: # Permito ejecuci贸n manual

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true # Hago checkout del repo y subm贸dulos

      - name: Instalar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Instalar pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Limpiar cach茅 y m贸dulos previos
        run: |
          pnpm store prune
          rm -rf node_modules

      - name: Instalar dependencias
        run: pnpm install


      - name: Test
        id: test
        run: pnpm run test --if-present --coverage

      - name: Notificar a Slack (Test)
        if: failure()
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
             {
               "text": ":test_tube: *CI/CD - Fallo en Pruebas*\n\n Repositorio: ${{ github.repository }}\n Autor: ${{ github.actor }}\n Commit: ${{ github.sha }}\n Estado del Test: Fallido"
             }

        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: test # Este job depende de que el job de test termine

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true # Hago checkout del repo y subm贸dulo

      - name: Instalar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      # Instalo las dependencias del proyecto
      - name: Instalar dependencias
        run: pnpm install
      # Ejecuto el build del proyecto
      - name: Build
        id: build
        run: pnpm run build

      - name: Notificar a Slack (Build)
        if: success() || failure() # Notifico tanto si el build es exitoso como si falla
        uses: slackapi/slack-github-action@v1.24.0
        with:
          payload: |
             {
               "text": ":rocket: *CI/CD - Build completado con 茅xito*\n\n Repositorio: ${{ github.repository }}\n Autor: ${{ github.actor }}\n Commit: ${{ github.sha }}\n Estado del build: ${{ job.status }}"
             }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

          